---
layout      : page
title       : Changelog
date        : 2016-12-12 19:23
tagline     : Times change
description :
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-changelog">
  <div class="container-lg">

    {% for post in site.posts %}
      {% if post.changelog %}

        <p>
          {{ post.title }}<br>
          {{ post.content | strip_html }}
        </p>

      {% endif %}
    {% endfor %}

  </div>
</section>
