---
layout      : page
title       : Photos
date        : 2017-04-06 18:41
tagline     : Photographs, etc
description :
nav         : true
nav-dev     : true
subnav      : false
archive     : false
---

<section class="page page-photos">
  <div class="container-lg">

    {% assign posts = site.data.photos | sort: 'date' %}

    <div class="row">
      {% for post in posts %}
        <div class="col-12">

          <p class="text-center"><a href="{{ post.images.screenshot }}" target="_blank"><img class="img-fluid rounded photos" src="{{ post.images.screenshot }}"></a></p>
          <p>{{ post.description }}</p>

          {% unless forloop.last %}<hr>{% endunless %}

        </div>
      {% endfor %}
    </div>

  </div>
</section>
