---
layout      : page
title       : Presskits
date        : 2024-06-25 12:08
tagline     : A collection of promotional materials
description : A collection of information about a product.
design      : grid
nav         : true
nav-dev     : true
subnav      : false
archive     : false
---

<section class="page page-presskits">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No presskit entries found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
