---
layout      : page
title       : Games
date        : 2015-09-20 14:56
tagline     : Games! Pew pew!
description : Games I've created.
design      : image
nav         : true
nav-dev     : true
subnav      : false
archive     : true
---

<section class="page page-games">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No game entries found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
