---
layout      : page
title       : dev
date        : 2016-05-12 22:34
tagline     : dev tagline
description : Used for debugging.
design      : image
nav         : false
nav-dev     : false
subnav      : false
archive     : false
images      :
  thumbnail :  # 384x216 - Thumbnail of the category
  screenshot: # 1920x1080 - Image of the category
---

<section class="page page-blog">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No blog posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
