---
layout      : default
title       : Home
date        : 2015-09-18 12:00
tagline     : Homepage
description : The homepage of my website.
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-home">
  <div class="container-lg">

    <div class="row">
      {% if jekyll.environment == "production" %}
        {% assign modules = site.pages | where: 'nav', true | sort: 'title' %}
      {% else %}
        {% assign modules = site.pages | where: 'nav-dev', true | sort: 'title' %}
      {% endif %}

      {% for module in modules %}
        <div class="col-12 col-md-6 col-xxl-4 text-center">
          {% assign slug = module.title | slugify %}

          {% if slug == 'dnd' %}
            {% assign title = 'D&D' %}
          {% else %}
            {% assign title = module.title %}
          {% endif %}

          <h1 class="retro">
            <a href="{{ module.dir | prepend: site.baseurl }}">{{ title }}</a>
          </h1>

          <p class="retro small {% unless module.tagline %}separator{% endunless %}">{{ module.tagline }}</p>

        </div>
      {% endfor %}
    </div>

  </div>
</section>
