{% capture carousel_id %}carousel-portfolio-{% if include.id %}{{- include.id -}}{% else %}big{% endif%}-{{- forloop.index -}}{% endcapture %}

<div class="col-12 col-xl-6 mb-4">
  <div class="carousel slide" id="{{ carousel_id }}">
    <div class="carousel-inner">
      {% for image_url in post.images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <a href="{{ image_url }}" target="_blank"><img src="{{ image_url }}" class="d-block w-100 rounded" alt="Slide {{ forloop.index }}"></a>
        </div>
      {% endfor %}
    </div>

    {% assign imagessize = post.images | size %}

    {%- if imagessize > 1 -%}
      <div class="carousel-controls" id="{{ carousel_id }}">
        <a class="left carousel-control" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
          <i class="fa-solid fa-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </a>
        <div class="carousel-indicators">
          {% for image_url in post.images offset: -1 %}
            {% assign id = forloop.index | minus: 1 %}
            <button type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ id }}" aria-label="Slide {{ forloop.index }}" {% if forloop.first %}class="active" aria-current="true"{% endif %}></button>
          {% endfor %}
        </div>
        <a class="right carousel-control" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
          <i class="fa-solid fa-chevron-right"></i>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>
