<div class="col-12 col-xl-6">
  <h2>{{- post.header -}}</h2>
  <h5>
    {{- post.title -}}<br>
    {{- post.company -}}<br>
    {{- post.durationStart | date: site.date_formats.my }} - {{ post.durationEnd | date: site.date_formats.my -}}
  </h5>
  <p>{{- post.content.description -}}</p>

  {%- for item in post.content.lists -%}
    {% assign pointssize = item.points | size %}

    {%- if pointssize != 0 -%}
      <h5>{{- item.title -}}</h5>
      <ul>
      {%- for point in item.points -%}
        <li>{{- point -}}</li>
      {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endfor -%}
</div>
