---
layout      : page
title       : Reviews
date        : 2017-03-30 23:01
tagline     :
description :
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-reviews">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No review posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
