---
layout      : page
title       : Gamedev
date        : 2016-08-29 13:47
tagline     : Gamedev posts
description : Gamedev related posts.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-blog">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No blog posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
