---
layout      : page
title       : NPCs
date        : 2016-06-12 22:46
tagline     : 'Dungeons & Dragons: NPCs'
description : "NPC:s I've created for D&D."
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    {% comment %}
    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] | sort: 'title' %}

    {% include pages/sections.html title=cat data=posts section='title' %}
    {% endcomment %}

  </div>
</section>
