---
layout      : page
title       : Settings
date        : 2015-12-12 09:44
tagline     :
description : Website settings
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-settings">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <h3 class="pb-2 mt-4 mb-2 border-bottom text-center">Website wide settings</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <!-- TODO: Add layout options? -->
        <!-- TODO: Select the current font (returning here after changing to Ubuntu displays that it's Press Start 2P) -->

        <form class="form-horizontal">
          <div class="form-group">
            <!--
            <label for="change-font" class="col-sm-6 control-label">Change website font</label>
            <div class="col-sm-6">
              <select class="form-control" id="change-font">
                <option value="Press Start 2P">Press Start 2P (default)</option>
                <option value="Ubuntu">Ubuntu</option>
              </select>
            </div>
            -->
          </div>
        </form>

      </div>
    </div>

  </div>
</section>
