---
layout      : page
title       : Resources
date        : 2016-06-15 15:49
tagline     : 'Dungeons & Dragons: Resources'
description : Own creations/modifications of D&D resources.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No D&D posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
