<footer>
  <div class="container">

    <p class="text-center">
      <small class="retro">Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp;<br class="d-block d-sm-none"> <a href="https://gitlab.com/Saucyminator/saucyminator.gitlab.io" target="_blank">hosted</a> on <a href="https://gitlab.com" target="_blank">GitLab</a></small>
    </p>

  </div>
</footer>
