{% if jekyll.environment == "production" %}
  {% assign modules = site.pages | where: 'nav', true | sort: 'title' %}
{% else %}
  {% assign modules = site.pages | where: 'nav-dev', true | sort: 'title' %}
{% endif %}

{% for module in modules %}
  {% assign url      = page.url | replace:  '/',' ' | truncatewords: 1 | remove: '...' %}
  {% assign location = module.url | remove: '/' %}
  {% assign slug     = module.title | slugify %}

  {% if slug == 'dnd' %}
    {% assign title = 'D&D' %}
  {% else %}
    {% assign title = module.title %}
  {% endif %}

  <li class="nav-item">
    <a href="{{ module.dir | prepend: site.baseurl }}" class="retro nav-link {% if url contains location %}active{% endif %}">{{ title }}</a>
  </li>
{% endfor %}
