<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-lg d-lg-block">

    <!-- Title -->
    <h1 class="brand d-none d-lg-block text-center">
      <a href="{{ site.baseurl }}/" class="light retro">{{ site.title }}</a>
    </h1>
    <h1 class="d-lg-none">
      <a href="{{ site.baseurl }}/" class="navbar-brand light retro">{{ site.title }}</a>
    </h1>
    <!-- Meny toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation -->
    <div class="collapse navbar-collapse justify-content-center" id="navbar-collapse">
      <!-- Tablet-Desktop -->
      <nav class="nav nav-pills d-none d-lg-flex">
        {% include navigation-data.html %}
      </nav>

      <!-- Mobile -->
      <ul class="nav navbar-nav d-lg-none">
        {% include navigation-data.html %}
      </ul>
    </div>

  </div>
</nav>
