{% comment %}
  Created by kasperisager on GitHub, gist here: https://gist.github.com/kasperisager/9416313
  Usage: {% include navigation.html context='/' %} - /root
  Usage: {% include navigation.html context='/foo/bar/' %} - /foo/bar
{% endcomment %}
{% capture html %}
  {% if include.context == "/" %}
    <div class="col-sm-6 col-12">
      <p>
        <a href="{{ site.baseurl }}/" class="btn btn-default btn-block">{{ site.title }}</a>
      </p>
    </div>
  {% endif %}

  {% assign entries = site.pages | sort: "path" %}

  {% for entry in entries %}
    {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

    {% if current == include.context %}
      {% if entry.subnav %}
        <div class="col-sm-6 col-12">
          <p class="d-grid gap-2">
            <a href="{{ entry.url | prepend: site.baseurl }}" class="btn btn-light">{{ entry.title }}</a>
          </p>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
