---
layout      : page
title       : CV
date        : 2015-09-20 14:56
tagline     : Curriculum vitae
description : CV.
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

{% assign post = site.categories.cv.first %}

<section class="page page-cv">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {{ post.content }}

        <hr>

        {% include buttons/buttons.html data=post.buttons %}

        {% include comments.html %}

      </div>
    </div>

  </div>
</section>
