---
layout      : page
title       : Party tracker
date        : 2016-06-15 15:34
tagline     : 'Dungeons & Dragons: Party tracker'
description : Keep track of players and their character.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <div class="alert alert-info" role="alert"><strong>{{ page.title }}</strong>: {{ page.description }}</div>

      </div>
    </div>

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% include pages/buttons.html title=cat data=posts %}

  </div>
</section>
