$body-bg: $color-dark;
$body-color: $color-light;
$font-family-sans-serif: $font-body;
$headings-font-weight: 400;
$link-color: $color-orange;
$link-decoration: none;
$link-hover-color: $color-link-hover;
$link-hover-decoration: none;
$nav-pills-link-active-bg: $color-gray-dark;
$navbar-light-color: $color-orange;
$navbar-light-hover-color: $color-link-hover;
$navbar-light-active-color: $color-light;
$navbar-light-disabled-color: $color-link-hover;
$navbar-light-icon-color: $color-orange;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgb(156, 23, 209);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-active-color;