html {
  scroll-padding-top: 128px;
}

body {
  padding: 8rem 0; // 128
}

footer {
  background-color: $color-footer;
  bottom: 0;
  padding: 1.25rem 0; // 20 0 10 0
  position: fixed;
  width: 100%;

  p {
    margin: 0;
  }
}

tbody {
  tr {
    &:nth-child(even) {
      background: $color-row-even;
    }

    &:nth-child(odd) {
      background: $color-row-odd;
    }

    &:hover {
      color: $color-dark;
    }
  }
}

a {
  &.light {

    &:link,
    &:visited {
      color: $color-light;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Used by markdown headers
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.retro {
  font-family: $font-headers;
}

.photos {
  height: 40rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar {
  padding-top: 1rem;
  background-color: $color-dark;
}

.btn {
  margin-bottom: 0.313rem; // 5
}

.carousel {
  margin-bottom: 2rem;

  .carousel-inner {
    height: 0;
    padding-bottom: 50%;
    margin-bottom: 0.75rem;
  }

  .carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
}

.carousel-controls {
  position: relative;
  width: 20rem; // 320
  margin: 0 auto;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;

  &.right {
    left: auto;
    right: 0;
  }
}

.carousel-indicators {
  top: 3px;
}

.page,
.post {
  word-wrap: break-word;

  &.page-docs {
    .panel {
      code {
        background-color: transparent;
        color: $color-dark;
        font-family: inherit;
        font-size: inherit;
        padding: 0;
        white-space: pre;
      }

      .panel-heading,
      .panel-body {
        padding: 10px;
      }
    }
  }

  &.page-home {
    .separator {
      min-height: 1.063rem; // 17
    }
  }

  &.post-presskits {
    ul {
      &.navigation {
        padding: 0;
        list-style: none;

        .nav-item,
        .nav-item:visited {
          display: block;
          padding: 5px 15px;
          color: inherit;
        }

        .nav-item:hover {
          color: inherit;
          background: rgba(#fff, 0.05);
          text-decoration: none;
        }

        .nav-item:focus {
          background: rgba(#fff, 0.05);
          outline: none;
        }
      }
    }

    .video-container {
      .row+.row {
        // Skips adding margin-top to the first video-container div.
        margin-top: 15px;
      }
    }

    dt {
      margin-top: 1rem;
    }

    dd {
      margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      margin: 1.25rem 0 1rem 0;
      border: 0;
    }

    h1.logo {
      margin: 0;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .image {
    position: relative;
  }

  .image-items {
    margin-bottom: 1.25rem; // 20
  }

  .image-banner {
    height: 20.063rem; // 321
  }

  .separator {
    margin-bottom: 0.625rem; // 10
  }

  p {
    &.image-base {
      background: $color-hover;
      left: 0;
      padding: 0.625rem; // 10
      position: absolute;
      width: 100%;
    }

    &.image-content {
      @extend .image-base !optional;
      bottom: 0;
    }
  }
}

.widget {
  width: 100%;

  &.widget-steam {
    height: 190px;
  }
}

#goTop {
  position: fixed;
  right: 7px;
  bottom: 7px;

  a {
    background-color: $color-gray-dark;
    color: $color-light;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: none;
    transition: 0.3s linear;

    &:hover {
      opacity: 0.7;
    }
  }
}

// Changes navigation to hamburger-menu on sm devices, instead of just only xs devices
@media (max-width: 991px) {
  .navbar-toggler {
    border-color: $color-light;
  }

  .navbar-collapse {
    border-top: 0.313rem solid transparent; // 5
    box-shadow: inset 0 0.063rem 0 $color-gray-dark; // 1
  }

  .navbar-nav {
    float: none !important;
    margin: 0.469rem 0rem; // 7.5 0
  }
}