$color-light:      #f0f0f0;
$color-dark:       #0f0f0f;
$color-orange:     #ffa000;
$color-gray-dark:  #222; // From Bootstrap source
$color-footer:     lighten($color-dark, 2.5%);
$color-link-hover: lighten($color-dark, 10%);
$color-row-odd:    darken($color-dark, 2%);
$color-row-even:   lighten($color-dark, 2%);
$color-hover:      rgba(#000000, .75);

$font-headers:     'Press Start 2P';
$font-body:        'Ubuntu';
