---
layout      : page
title       : About
date        : 2015-10-07 21:10
tagline     : whoami
description : Information about me - who I am, what I like, etc.
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-about">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Contact me</h3>

        <ul>
          {% for contact in site.data.about.contact %}
            <li><a href="mailto:{{ contact[1] }}">{{ contact[1] }}</a> - {{ contact[0] }}</li>
          {% endfor %}
        </ul>

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Basic information</h3>

        <ul>
          {% for info in site.data.about.information %}
            <li>{{ info[0] }}: {{ info[1] }}</li>
          {% endfor %}
        </ul>

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Currently (rarely updated)</h3>

        <ul>
          {% for current in site.data.about.currently %}
            <li>{{ current[0] }}: {{ current[1] }}</li>
          {% endfor %}
        </ul>

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Who am I?</h3>

        <ul>
          {% for whoami in site.data.about.whoami %}
            <li>{{ whoami.text }}
              <ul>
                {% for data in whoami.data %}
                  <li>{{ data }}
                    {% if forloop.last and whoami.images %}
                      <ul>
                        {% for image in whoami.images %}
                          <li><a href="{{ image.url }}" target="_blank">{{ image.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Computer setup</h3>

        <ul>
          {% for part in site.data.about.computer %}
            <li>{{ part[0] }}: {{ part[1] }}</li>
          {% endfor %}
        </ul>

        <h3 class="pb-2 mt-4 mb-2 border-bottom">Random facts</h3>

        <ul>
          {% for fact in site.data.about.facts %}
            <li>{{ fact }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>

  </div>
</section>
