---
layout      : page
title       : Archive
date        : 2015-09-28 21:47
tagline     : Collection of the past
description : Lists all the site's posts, separated into categories.
nav         : true
nav-dev     : true
subnav      : false
archive     : false
---

<section class="page page-archive">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% assign archives = site.pages | where: 'archive', true | sort: 'title' %}

        {% for archive in archives %}
          {% assign slug = archive.title | slugify %}

          {% if slug == 'dnd' %}
            {% assign title = 'D&D' %}
          {% else %}
            {% assign title = archive.title %}
          {% endif %}

          <h3 class="pb-2 mt-4 mb-2 border-bottom text-capitalize">{{ title }}</h3>
          <ul>
            {% for post in site.categories[slug] %}
              <li><time title="{{ post.date | date: site.date_formats.datetime }}">{{ post.date | date: site.date_formats.ymd }}</time>: <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}

      </div>
    </div>

  </div>
</section>
