{% for post in include.data %}
  {% if post.categories contains include.title %}
    <div class="row">
      <div class="col-12">

        <div class="btn-group">
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-block btn-default">v{{ post.version }}</a>
        </div>

        <div class="btn-group">
          <a class="btn btn-info"><time data-livestamp="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: site.date_formats.datetime }}"></time></a>
        </div>

        {% if post.assets_separated %}
          <!-- Assets are separated by posts -->
          {% assign location = post.url %}
        {% else %}
          <!-- Assets are collected at the root of the respective folder -->
          {% assign title = post.slug | append: '/' %}
          {% assign location = post.url | remove: title %}
        {% endif %}

        {% assign size = post.buttons.downloads | size %}
        {% assign default = post.buttons.downloads[0] %}
        {% capture defaultDownload %}{% if default.url contains 'http' %}{{ default.url }}{% else %}{{ site.folders.assets }}{{ location }}{{ default.url }}{% endif %}{% endcapture %}

        <div class="btn-group">
          <a href="{{ defaultDownload }}" target="_blank" class="btn btn-success"><i class="fa-solid fa-download" aria-hidden="true"></i> v{{ post.version }}</a>

          {% if size > 1 %}
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              {% for download in post.buttons.downloads %}
                {% capture dl %}{% if download.url contains 'http' %}{{ download.url }}{% else %}{{ site.folders.assets }}{{ location }}{{ download.url }}{% endif %}{% endcapture %}
                <li><a href="{{ dl }}" target="_blank">{{ download.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        {% if post.buttons.extra %}
          <div class="btn-group">
            <a href="{{ post.buttons.extra }}" target="_blank" class="btn btn-primary" title="View Javascript changes"><i class="fa-solid fa-gitlab" aria-hidden="true"></i></a>
          </div>
        {% endif %}

      </div>
    </div>

    {% comment %}NOTE: Not correct because forloop is calculating from ALL posts.{% endcomment %}
    {% unless forloop.last %}<hr class="visible-xs">{% endunless %}

  {% endif %}
{% endfor %}
