<div class="row">
  {% for post in include.data %}
    {% if post.categories contains include.title %}
      <div class="col-sm-6 col-12 d-grid gap-2">

        {% if include.section == 'characters' %}
          {% include pages/sections-characters.html %}
        {% elsif include.section == 'title' %}
          {% include pages/sections-title.html %}
        {% endif %}

      </div>
    {% endif %}
  {% endfor %}
</div>
