---
layout      : page
title       : Character sheets
date        : 2016-03-01 16:14
tagline     : 'Dungeons & Dragons: Character sheets'
description : A modified sheet that aims to make it easier for players when it comes to calculate things like Ability Scores and their modifiers, etc.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <div class="alert alert-info" role="alert"><strong>{{ page.title }}</strong>: {{ page.description }}</div>

      </div>
    </div>

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% include pages/buttons.html title=cat data=posts %}

  </div>
</section>
