---
layout      : page
title       : Friends
date        : 2016-03-08 19:27
tagline     :
description :
design      : grid
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-friends">
  <div class="container-lg">

    {% assign posts = site.data.friends | sort: 'name' %}

    <div class="row">
      {% for post in posts %}
        <div class="col-sm-6 col-12">

        <div class="row">
          <div class="col-12">
            {% comment %} <a href="{{ post.url | prepend: site.baseurl }}"><img class="img-fluid rounded" src="{{ post.images.thumbnail }}"></a> {% endcomment %}
            <p><a href="{{ post.images.screenshot }}" target="_blank" class="photos"><img class="img-fluid rounded" src="{{ post.images.thumbnail }}"></a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{{ post.description }}</p>
          </div>
        </div>

        </div>
      {% endfor %}
    </div>

  </div>
</section>
