<header class="pb-2 mt-4 mb-2 border-bottom text-center">
  <h2>{{ page.title }}</h2>

  <small class="text-muted">
    {% if page.date_updated %}
      <del><time data-livestamp="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date: site.date_formats.datetime }}"></time></del>
      <br class="visible-xs">
      Updated: <time data-livestamp="{{ page.date_updated | date_to_xmlschema }}" title="{{ page.date_updated | date: site.date_formats.datetime }}"></time>
    {% else %}
      <time data-livestamp="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date: site.date_formats.datetime }}"></time>
    {% endif %}
  </small>
</header>
