{% for screenshots in page.images.screenshots %}
  {% capture link %}{% if screenshots.screenshot contains 'http' %}{{ screenshots.screenshot }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ screenshots.screenshot }}{% endif %}{% endcapture %}
  {% capture image %}{% if screenshots.thumbnail contains 'http' %}{{ screenshots.thumbnail }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ screenshots.thumbnail }}{% endif %}{% endcapture %}
  <div class="col-12 col-sm-6 col-md-2">

    <p>
      <a href="{{ link }}" target="_blank">
        <img src="{{ image }}" class="img-fluid rounded">
      </a>
    </p>

  </div>
{% endfor %}
