---
layout      : page
title       : Characters
date        : 2016-03-01 16:10
tagline     : 'Dungeons & Dragons: Characters'
description : Characters I've created for D&D.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] | sort: 'title' %}

    {% include pages/sections.html title=cat data=posts section='characters' %}

  </div>
</section>
