---
layout      : page
title       : Blog
date        : 2015-09-20 14:56
tagline     : Personal thoughts
description : Posts about something I like or just general thoughts
nav         : false
nav-dev     : false
subnav      : false
archive     : true
---

<section class="page page-blog">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No blog posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
