---
layout      : page
title       : Portfolio
date        : 2024-02-24 19:44
tagline     : Some samples of my work
description :
nav         : false
nav-dev     : true
subnav      : false
archive     : false
---

{% assign posts = site.data.portfolio | sort: 'durationStart' | reverse %}

<section class="page page-portfolio">
  <div class="container-lg d-none d-xl-block">
    <div class="row">
      {% for post in posts %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
            <!-- even -->
          {% include portfolio/information.html data=post %}
          {% include portfolio/carousel.html data=post %}
        {% else %}
            <!-- odd -->
          {% include portfolio/carousel.html data=post %}
          {% include portfolio/information.html data=post %}
        {% endif %}

        {% unless forloop.last %}<hr class="my-4">{% endunless %}
      {% endfor %}
    </div>
  </div>

  <div class="container-lg d-block d-xl-none">
    <div class="row">
      {% for post in posts %}
        {% include portfolio/carousel.html data=post id="mini" %}
        {% include portfolio/information.html data=post id="mini" %}

        {% unless forloop.last %}<hr class="my-4">{% endunless %}
      {% endfor %}
    </div>
  </div>
</section>
