{% if page.layout == 'page' %}
  {% assign url = post.url %}
  {% assign slug = post.slug %}

  <!-- Read more button -->
  <div class="btn-group">
    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-light"><i class="fa-solid fa-book" aria-hidden="true"></i> Read more</a>
  </div>
{% else %}
  {% assign url = page.url %}
  {% assign slug = page.slug %}

  <!-- Back button -->
  <div class="btn-group">
    <a href="{{ site.baseurl | append: '/' }}{{ page.categories | join: '/' }}" class="btn btn-light"><i class="fa-solid fa-caret-left" aria-hidden="true"></i> Back</a>
  </div>
  <!-- Version button -->
  {% if page.version %}
    <div class="btn-group">
      <a class="btn btn-info">v{{ page.version }}</a>
    </div>
  {% endif %}
{% endif %}

{% if include.data.downloads %}
  <!-- Downloads button -->
  {% if page.assets_separated %}
    <!-- Assets are separated by posts -->
    {% assign location = url %}
  {% else %}
    <!-- Assets are collected at the root of the respective folder -->
    {% assign title = slug | append: '/' %}
    {% assign location = url | remove: title %}
  {% endif %}

  {% assign size = include.data.downloads | size %}
  {% assign default = include.data.downloads[0] %}
  {% capture defaultDownload %}{% if default.url contains 'http' %}{{ default.url }}{% else %}{{ site.folders.assets }}{{ location }}{{ default.url }}{% endif %}{% endcapture %}

  <div class="btn-group">
    <a href="{{ defaultDownload }}" target="_blank" class="btn btn-success"><i class="fa-solid fa-download" aria-hidden="true"></i> Download</a>

    {% if size > 1 %}
      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        {% for download in include.data.downloads %}
          {% capture dl %}{% if download.url contains 'http' %}{{ download.url }}{% else %}{{ site.folders.assets }}{{ location }}{{ download.url }}{% endif %}{% endcapture %}
          <li><a class="dropdown-item" href="{{ dl }}" target="_blank">{{ download.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}

{% if include.data.demo %}
  <!-- Demo button -->
  <div class="btn-group">
    <a href="{{ include.data.demo }}" target="_blank" class="btn btn-danger"><i class="fa-solid fa-eye" aria-hidden="true"></i> Demo</a>
  </div>
{% endif %}

{% if include.data.source %}
  <!-- Source button -->
  <div class="btn-group">
    <a href="{{ include.data.source }}" target="_blank" class="btn btn-primary"><i class="fa-solid fa-database" aria-hidden="true"></i> Source</a>
  </div>
{% endif %}

{% if include.data.extra %}
<!-- Extra button -->
  <div class="btn-group">
    <a href="{{ include.data.extra }}" target="_blank" class="btn btn-primary"><i class="fa-solid fa-gitlab" aria-hidden="true"></i> View extra</a>
  </div>
{% endif %}
