---
layout      : page
title       : Movies
date        : 2017-04-03 20:40
tagline     :
description :
design      : blog
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-reviews">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No reviews of TV series found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
