---
layout      : page
title       : Curse of Undeath
date        : 2016-05-12 22:27
tagline     : Sidescroller game
description : A singleplayer pixel sidescroller game.
design      : image
nav         : false
nav-dev     : false
subnav      : true
archive     : false
images:
  thumbnail:  # 384x216 - Thumbnail of the category
  screenshot: # 1920x1080 - Image of the category
---

<section class="page page-blog">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No blog posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
