---
layout      : page
title       : Roleplay
date        : 2016-04-14 15:20
tagline     : 'World of Warcraft: Roleplay'
description : Roleplaying stuff for World of Warcraft (lore, backgrounds, etc).
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-wow">
  <div class="container-lg">

    <div class="row">
      {% assign cat = page.title | slugify %}
      {% assign posts = site.categories[cat] %}

      {% for post in posts %}
        {% if post.categories contains cat %}
          <div class="col-6">

            <p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default btn-block">
                {{ post.character.name }}<br>
                {{ post.character.race }} {{ post.character.character_class }}<br>
              </a>
            </p>

          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</section>
