---
layout      : page
title       : DnD
date        : 2015-10-17 13:23
tagline     : Dungeons & Dragons
description : A place for all my Dungeons & Dragons (5th edition) related stuff.
nav         : false
nav-dev     : false
subnav      : false
archive     : true
---

<section class="page page-dnd">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No D&D posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
