{% for post in posts %}
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-12">

      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <ul class="list-inline">
        <li><i class="fa-solid fa-calendar" aria-hidden="true"></i> <time title="{{ post.date | date: site.date_formats.datetime }}">{{ post.date | date: site.date_formats.ymd }}</time></li>
      </ul>

      <p>
        {{ post.summary }} <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </p>

    </div>
  </div>
{% endfor %}
