<div class="row">
  {% for post in posts %}
    <div class="col-6 col-sm-4">

      <div class="image">
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% capture image %}{% if post.images.thumbnail %}{% if post.images.thumbnail contains 'http' %}{{ post.images.thumbnail }}{% else %}{{ site.folders.assets }}{{ post.url }}{{ post.images.thumbnail }}{% endif %}{% else %}{{ site.placeholder.thumbnail }}{% endif %}{% endcapture %}
            <img class="img-fluid rounded w-100" src="{{ image }}">
          </a>
        </p>
        {% if post.spoilers %}
          <p class="image-content truncate">
            <small>WARNING: Review contains spoilers!</small>
          </p>
        {% endif %}
      </div>

    </div>
  {% endfor %}
</div>
