{% for post in posts %}
  <div class="row">
    <div class="col-12">

      <div class="image">
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% capture image %}{% if post.images.banner %}{% if post.images.banner contains 'http' %}{{ post.images.banner }}{% else %}{{ site.folders.assets }}{{ post.url }}{{ post.images.banner }}{% endif %}{% else %}{{ site.placeholder.banner }}{% endif %}{% endcapture %}
            <img class="img-fluid rounded image-banner w-100" src="{{ image }}">
          </a>
        </p>
        <p class="d-none d-sm-block image-content truncate">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>. <small>{{ post.summary }}</small>
        </p>
      </div>
      <p class="d-block d-sm-none">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>. <small>{{ post.summary }}</small>
      </p>

      {% unless forloop.last %}<hr>{% endunless %}

    </div>
  </div>
{% endfor %}
