{% for post in posts %}
  <div class="row">
    <div class="col-12">

      <div class="pb-2 mt-4 mb-2 border-bottom text-center">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        <small class="text-muted">
          {% if post.date_updated %}
            <del><time data-livestamp="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: site.date_formats.datetime }}"></time></del>
            Updated: <time data-livestamp="{{ post.date_updated | date_to_xmlschema }}" title="{{ post.date_updated | date: site.date_formats.datetime }}"></time>
          {% else %}
            <time data-livestamp="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: site.date_formats.datetime }}"></time>
          {% endif %}
        </small>
      </div>

    </div>
    <div class="col-md-6 col-12">

      <p>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {% capture image %}{% if post.images.screenshot %}{% if post.images.screenshot contains 'http' %}{{ post.images.screenshot }}{% else %}{{ site.folders.assets }}{{ post.url }}{{ post.images.screenshot }}{% endif %}{% else %}{{ site.placeholder.screenshot }}{% endif %}{% endcapture %}
          <img class="img-fluid rounded" src="{{ image }}">
        </a>
      </p>

    </div>
    <div class="col-md-6 col-12">

      <p>
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          <em>No summary available.</em>
        {% endif %}
      </p>

      {% include buttons/buttons.html data=post.buttons %}

    </div>
  </div>
{% endfor %}
