{% for post in posts %}
  <div class="row">
    <div class="col-md-2 col-sm-3 col-12">

      <p>
        <small class="text-muted"><time title="{{ post.date | date: site.date_formats.datetime }}">{{ post.date | date: site.date_formats.ymd }}</time></small>
      </p>

    </div>
    <div class="col-md-10 col-sm-9 col-12">

      <p>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </p>

    </div>
  </div>
{% endfor %}
