---
layout      : default
title       : '404: Page not found'
date        : 2015-10-08 20:14
tagline     : Error 404
description : Error 404 page.
nav         : false
nav-dev     : false
subnav      : false
archive     : false
permalink   : /404.html
---

<section class="page page-errors">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% include pages/header.html %}

        <p class="text-center">Return <a href="{{ site.baseurl }}/">home</a> to continue your quest for the Holy Grail</p>

      </div>
    </div>

  </div>
</section>
