---
layout      : page
title       : Legacy
date        : 2015-09-20 14:56
tagline     : Ancient creations
description : Previous websites I've created.
design      : grid
nav         : true
nav-dev     : true
subnav      : false
archive     : true
---

<section class="page page-legacy">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      {% include layout/{{ page.design }}.html %}
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No legacy entries found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
