---
layout      : page
title       : WoW
date        : 2016-03-20 00:03
tagline     : World of Warcraft
description : Stuff about the game World of Warcraft.
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

<section class="page page-wow">
  <div class="container-lg">

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% if posts %}
      <div class="row">

        {% include subnav.html context=page.dir %}

      </div>
    {% else %}
      <div class="row">
        <div class="col-12">

          <h4 class="text-center">No roleplay posts found!</h4>

        </div>
      </div>
    {% endif %}

  </div>
</section>
