---
layout      : page
title       : Tags
date        : 2017-03-30 20:33
tagline     : Tag, you're it!
description : Find posts with specific tags.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-tags">
  <div class="container-lg">

      <div class="row">
        <div class="col-12">

          {% assign tags = site.tags | sort %}

          {% for tag in tags %}
            <a class="btn btn-default" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>
          {% endfor %}

          <hr>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-12">

          {% for tag in tags  %}
            <div class="row">
              <div class="col-12">

                <h3 id="{{ tag[0] }}" class="pb-2 mt-4 mb-2 border-bottom">{{ tag[0] }} <small><a href="#top" class="text-muted">Back to top</a></small></h3>

                {% assign pages_list = tag[1] %}

                {% for post in pages_list %}
                  <div class="row">
                    <div class="col-12">

                      [{{ post.date | date: site.date_formats.date }}] <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                    </div>
                  </div>
                {% endfor %}

              </div>
            </div>
          {% endfor %}

        </div>
      </div>

  </div>
</section>
