<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top" data-bs-offset="128" data-bs-spy="scroll" data-bs-target="#goTop">

    {% if page.title != 'Home' %}
      {% include navigation.html %}
    {% endif %}

    {{ content }}

    {% if page.title != 'Home' %}
      {% include footer.html %}
    {% endif %}

    <div id="goTop">
      <a href="#top" id="goTopButton"><i class="fa-solid fa-chevron-up" aria-hidden="true"></i></a>
    </div>

    {% include scripts.html %}

  </body>
</html>
