<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top" style="background-image: url('{{ page.images.big }}');">

    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
