---
layout: default
---

<section class="post">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% include posts/banner.html %}

        {% include posts/header.html %}

      </div>
    </div>
    <div class="row">
      <div class="{% if page.images.screenshot %}col-sm-6{% else %}col-sm-12{% endif %} col-12">

        {{ content }}

        {%- comment -%}
        <h4 class="pb-2 mt-4 mb-2 border-bottom">Source</h4>

        <p>
          <!-- NOTE: The escapes are required because of HTML5 attribute values get cut off otherwise -->
          {% capture template %}{% include dnd-template.html %}{% endcapture %}
          {% assign escapeSource = template | replace: '"', '&quot;' %}
          <button class="btn btn-primary" data-clipboard-text="{{ escapeSource }}">Copy source</button>

          {% capture escapeJson %}{{ page.character | jsonify | replace: '"', '&quot;' }}{% endcapture %}
          <button class="btn btn-primary" data-clipboard-text="{{ escapeJson }}">Copy json</button>
        </p>

        {% highlight html %}{% include dnd-template.html %}{% endhighlight %}
        {%- endcomment -%}

      </div>
      {% if page.images.screenshot %}
        <div class="col-sm-6 col-12">

          {% include posts/screenshot.html %}

        </div>
      {% endif %}
    </div>
    {% if page.images.screenshots %}
      <div class="row">
        <div class="col-12">

          <hr>

          {% include posts/screenshots.html %}

        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-12">

        <hr>

        {% include buttons/buttons.html data=page.buttons %}

        {% include comments.html %}

      </div>
    </div>

  </div>
</section>
