---
layout: default
---

<section class="post post-legacy">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% include alert-legacy.html %}

        {% include posts/banner.html %}

        {% include posts/header.html %}

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        {{ content }}

        <ul>
          <li>Created: {{ page.date | date: site.date_formats.date }}</li>
          {% if page.information.released %}
            <li>Released: {{ page.information.released }}</li>
          {% endif %}
          {% if page.information.client %}
            <li>Client: {{ page.information.client }}</li>
          {% endif %}
          {% if page.information.status %}
            <li>Status: {{ page.information.status }}</li>
          {% endif %}

          {% capture tags %}{% for tag in page.tags %}{% if tag contains 'website' %}{% continue %}{% endif %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
          <li>Build with: {{ tags }}</li>
        </ul>

        <hr>

        {% include buttons/buttons.html data=page.buttons %}

        {% include comments.html %}

      </div>
    </div>

  </div>
</section>
