---
layout: default
---

<section class="post">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% include posts/banner.html %}

        {% include posts/header.html %}

      </div>
    </div>
    <div class="row">
      <div class="{% if page.images.screenshot %}col-sm-6{% else %}col-sm-12{% endif %} col-12">

        {{ content }}

      </div>
      {% if page.images.screenshot %}
        <div class="col-sm-6 col-12">

          {% include posts/screenshot.html %}

        </div>
      {% endif %}
    </div>
    {% if page.images.screenshots %}
      <div class="row">
        <div class="col-12">

          <hr>

          {% include posts/screenshots.html %}

        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-12">

        <hr>

        {% include buttons/buttons.html data=page.buttons %}

        {% include comments.html %}

      </div>
    </div>

  </div>
</section>
