---
layout: default
---

<section class="post post-presskits">
  <div class="container-lg">

    <div class="row">
      <div class="col-12 col-lg-3">

        <h1 class="logo"><a href="{{- page.url -}}" class="light">{{- page.factsheet.developer.name -}}</a></h1>

        {%- if page.is_studio -%}
          <p><a href="{{- page.factsheet.developer.url -}}" target="_blank">{{- page.factsheet.developer.url -}}</a></p>
        {%- else -%}
          <p><a href="{{- page.game_specifics.studio_presskit_url -}}" target="_blank">press kit</a></p>
        {%- endif -%}

        <ul class="navigation">
          <li><a class="nav-item" href="#factsheet">Factsheet</a></li>
          <li><a class="nav-item" href="#description">Description</a></li>
          <li><a class="nav-item" href="#history">History</a></li>

          {% if page.is_studio and page.studio_specifics.releases %}
            <li><a class="nav-item" href="#projects">Projects</a></li>
          {%- elsif page.is_studio == false and page.game_specifics.features -%}
            <li><a class="nav-item" href="#features">Features</a></li>
          {% endif %}

          {% if page.videos %}
            <li><a class="nav-item" href="#videos">Videos</a></li>
          {% endif %}

          {% if page.images.screenshots %}
            <li><a class="nav-item" href="#images">Images</a></li>
          {% endif %}

          {% if page.logos %}
            <li><a class="nav-item" href="#logos">Logo & Icon</a></li>
          {% endif %}

          {% if page.game_specifics.steam_widget and page.is_studio == false %}
            <li><a class="nav-item" href="#widgets">Widgets</a></li>
          {% endif %}

          {% if page.additional_links %}
            <li><a class="nav-item" href="#additional-links">Additional links</a></li>
          {% endif %}

          {% if page.is_studio == false %}
            <li><a class="nav-item" href="#about">About {{ page.factsheet.developer.name -}}</a></li>
          {% endif %}

          <li><a class="nav-item" href="#credits">Team</a></li>
          <li><a class="nav-item" href="#contact">Contact</a></li>
        </ul>

        <hr>

        {% if page.is_studio == false and page.buttons.request_press_copy %}
          <button type="button" class="btn btn-light">Request Press Copy</button>
        {% endif %}
        {% if page.buttons.download_images %}
          {% capture download_images %}{% if page.buttons.download_images contains 'http' %}{{ page.buttons.download_images }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ page.buttons.download_images }}{% endif %}{% endcapture %}

          <a href="{{ download_images }}" target="_blank" class="btn btn-success"><i class="fa-solid fa-download" aria-hidden="true"></i> Download all images as a .zip</a>
        {% endif %}
        {% if page.buttons.download_logos %}
          {% capture download_logos %}{% if page.buttons.download_logos contains 'http' %}{{ page.buttons.download_logos }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ page.buttons.download_logos }}{% endif %}{% endcapture %}

          <a href="{{ download_logos }}" target="_blank" class="btn btn-success"><i class="fa-solid fa-download" aria-hidden="true"></i> Download logo files as a .zip</a>
        {% endif %}

      </div>
      <div class="col-12 col-lg-9">

        <div class="row">
          <div class="col-12">

            {% include posts/banner.html %}

          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-5">

            <h2 id="factsheet">Factsheet</h2>

            <dl>
              <dt>Developer:</dt>
              <dd><a href="{{- page.factsheet.developer.url -}}" target="_blank">{{- page.factsheet.developer.name -}}</a></dd>
              <dd>Based in {{ page.factsheet.developer.location -}}</dd>

              <dt>Website:</dt>
              <dd><a href="{{- page.factsheet.website.url -}}" target="_blank">{{- page.factsheet.website.name -}}</a></dd>

              {%- if page.is_studio -%}
                <dt>Founding date:</dt>
                <dd>{{- page.studio_specifics.founding_date | date: site.date_formats.YMD -}}</dd>

                <dt>Press / Business contact:</dt>
                <dd>
                  {%- if page.studio_specifics.business_contact_email -%}
                    <a href="mailto:{{- page.studio_specifics.business_contact_email -}}">{{- page.studio_specifics.business_contact_email -}}</a>
                  {%- else -%}
                    N/A
                  {%- endif -%}
                </dd>

                {%- if page.studio_specifics.social -%}
                  <dt>Social:</dt>
                  {%- for social in page.studio_specifics.social -%}
                    <dd><a href="{{- social.url -}}" target="_blank">{{- social.name -}}</a></dd>
                  {%- endfor -%}
                {%- endif -%}

                <dt>Releases:</dt>
                {%- if page.studio_specifics.releases -%}
                  {%- for release in page.studio_specifics.releases -%}
                    <dd><a href="{{- release.url -}}" target="_blank">{{- release.name -}}</a></dd>
                  {%- endfor -%}
                {%- else -%}
                  <dd>N/A</dd>
                {%- endif -%}

                <dt>Address:</dt>
                {%- if page.studio_specifics.address -%}
                  {%- for address in page.studio_specifics.address -%}
                    <dd>{{- address -}}</dd>
                  {%- endfor -%}
                {%- else -%}
                  <dd>N/A</dd>
                {%- endif -%}

                <dt>Phone:</dt>
                <dd>{{- page.studio_specifics.phone | default: "N/A" -}}</dd>
              {%- else -%}
                <dt>Release date:</dt>
                <dd>{{- page.game_specifics.release_date | date: site.date_formats.YMD -}}</dd>

                <dt>Platforms:</dt>
                {%- if page.game_specifics.platforms -%}
                  {%- for platform in page.game_specifics.platforms -%}
                    <dd>{{- platform -}}</dd>
                  {%- endfor -%}
                {%- else -%}
                  <dd>N/A</dd>
                {%- endif -%}
                
                <dt>Regular prices:</dt>
                {%- if page.game_specifics.regular_prices -%}
                  {%- for price in page.game_specifics.regular_prices -%}
                    <dd>{{- price -}}</dd>
                  {%- endfor -%}
                {%- else -%}
                  <dd>N/A</dd>
                {%- endif -%}
              {%- endif -%}
            </dl>

          </div>
          <div class="col-12 col-lg-7">

            <div class="row">
              <div class="col-12">

                <h2 id="description">Description</h2>

                {{- page.description -}}

              </div>
            </div>
            <div class="row">
              <div class="col-12">

                <h2 id="history">History</h2>

                {{- page.history -}}

              </div>
            </div>
            <div class="row">
              <div class="col-12">

                {%- if page.is_studio and page.studio_specifics.releases -%}
                  <h2 id="projects">Projects</h2>

                  <ul>
                    {%- for release in page.studio_specifics.releases -%}
                      <li><a href="{{- release.url -}}" target="_blank">{{- release.name -}}</a></li>
                    {%- endfor -%}
                  </ul>
                {%- elsif page.is_studio == false and page.game_specifics.features -%}
                  <h2 id="features">Features</h2>

                  <ul>
                    {%- for feature in page.game_specifics.features -%}
                      <li>{{- feature -}}</li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </div>
            </div>

          </div>
        </div>

        {% if page.videos %}
          <div class="row">
            <div class="col-12 video-container">

              <hr>

              <h2 id="videos">Videos</h2>

              {%- for video in page.videos -%}
                <div class="row">
                  <div class="col-12">
                    <p>{{- video.title }} - <a href="https://www.youtube.com/watch?v={{- video.video_id -}}" target="_blank">YouTube</a></p>

                    <div class="ratio ratio-16x9">
                      <iframe src="https://www.youtube.com/embed/{{- video.video_id -}}?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              {%- endfor -%}

            </div>
          </div>
        {% endif %}

        {% if page.images.screenshots %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2 id="images">Images</h2>

              <div class="row">

                {%- for screenshot in page.images.screenshots -%}
                  {% capture image %}{% if screenshot.screenshot %}{% if screenshot.screenshot contains 'http' %}{{ screenshot.screenshot }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ screenshot.screenshot }}{% endif %}{% else %}{{ site.placeholder.thumbnail }}{% endif %}{% endcapture %}
                  {% capture image_thumbnail %}{% if screenshot.thumbnail %}{% if screenshot.thumbnail contains 'http' %}{{ screenshot.thumbnail }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ screenshot.thumbnail }}{% endif %}{% else %}{{ site.placeholder.thumbnail }}{% endif %}{% endcapture %}

                  <div class="col-12 col-sm-6">
                    <div class="image">
                      <p>
                        <a href="{{ image }}" target="_blank"><img class="img-fluid rounded" src="{{ image_thumbnail }}"></a>
                      </p>
                    </div>
                  </div>
                {%- endfor -%}

              </div>

            </div>
          </div>
        {% endif %}

        {% if page.logos %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2 id="logos">Logo & Icon</h2>

              <div class="row">

                {%- for logo in page.logos -%}
                  {% capture image %}{% if logo %}{% if logo contains 'http' %}{{ logo }}{% else %}{{ site.folders.assets }}{{ page.url }}{{ logo }}{% endif %}{% else %}{{ site.placeholder.thumbnail }}{% endif %}{% endcapture %}

                  <div class="col-12 col-lg-6">
                    <div class="image">
                      <p>
                        <a href="{{ image }}" target="_blank"><img class="img-fluid rounded" src="{{ image }}"></a>
                      </p>
                    </div>
                  </div>
                {%- endfor -%}

              </div>

            </div>
          </div>
        {% endif %}

        {% if page.game_specifics.steam_widget and page.is_studio == false %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2 id="widgets">Widgets</h2>

              <iframe class="widget widget-steam" src="{{- page.game_specifics.steam_widget -}}" frameborder="0"></iframe>

            </div>
          </div>
        {% endif %}

        {% if page.additional_links %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2 id="additional-links">Additional links</h2>

              <dl>
                {%- for link in page.additional_links -%}
                  <dt>{{- link.title -}}</dt>
                  <dd>{{- link.description -}}</dd>
                {%- endfor -%}
              </dl>

            </div>
          </div>
        {% endif %}

        {% if page.is_studio == false %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2 id="about">About {{ page.factsheet.developer.name -}}</h2>

              <dl>
                <dt>Boilerplate</dt>
                <dd>{{- page.game_specifics.about_the_developer -}}</dd>

                <dt>More information</dt>
                <dd>More information on {{ page.factsheet.developer.name }}, our logo & relevant media are available <a href="{{- page.game_specifics.studio_presskit_url -}}" target=
                "_blank">here</a>.</dd>
              </dl>

            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-12">
            <hr>
          </div>
          <div class="col-12 col-lg-6">

            <h2 id="credits">
              {%- if page.is_studio -%}
                Team & Repeating Collaborator
              {%- else -%}
                {{ page.title }} Credits
              {%- endif -%}
            </h2>

            <dl>
              {%- for credit in page.credits -%}
                <dt>{{- credit.name -}}</dt>
                <dd>
                  {%- if credit.url -%}
                    <a href="{{- credit.url -}}" target="_blank">{{- credit.work_title -}}</a>
                  {%- else -%}
                    {{- credit.work_title -}}
                  {%- endif -%}
                </dd>
              {%- endfor -%}
            </dl>

          </div>
          <div class="col-12 col-lg-6">

            <h2 id="contact">Contact</h2>

            <dl>
              {%- for contact in page.contact -%}
                <dt>{{- contact.title -}}</dt>
                {%- if contact.url -%}
                  {% capture is_email %}{% if contact.url contains '@' %}{{- contact.url | prepend: 'mailto:' -}}{% else %}{{- contact.url -}}{% endif %}{% endcapture%}
                  <dd><a href="{{- is_email -}}" target="_blank">{{- contact.url -}}</a></dd>
                {%- else -%}
                  <dd>N/A</dd>
                {%- endif -%}
              {%- endfor -%}
            </dl>

          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <hr>

            <p><small>Inspired by <a href="https://github.com/pixelnest/presskit.html" target="_blank">presskit.html</a> by <a href="http://pixelnest.io/" target="_blank">Pixelnest Studio</a> - original <a href="https://dopresskit.com/" target="_blank">presskit()</a> by Rami Ismail (<a href="https://www.vlambeer.com/" target="_blank">Vlambeer</a>)</small></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
