---
layout: default
---

<section class="post">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        {% include posts/banner.html %}

        {% include posts/header.html %}

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        {{ content }}

      </div>
    </div>
    {% if page.images.screenshots %}
      <div class="row">
        <div class="col-12">
          <hr>
        </div>

        {% include posts/screenshots.html %}

      </div>
    {% endif %}
    <div class="row">
      <div class="col-12">

        <hr>

        {% include buttons/buttons.html data=page.buttons %}

        {% include comments.html %}

      </div>
    </div>

  </div>
</section>
