---
layout      : page
title       : Docs
date        : 2015-09-20 14:56
tagline     : API Documentation
description : Documentation on API I've created for myself (mostly testing how it would work).
nav         : false
nav-dev     : false
subnav      : false
archive     : false
---

{% assign data = site.data.docs.first %}

<section class="page page-docs">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <p><a href="https://gitlab.com/Saucyminator/api.saucy.se/tags/{{ data.version }}" target="_blank" class="btn btn-default">API Version: {{ data.version }}</a></p>

        {% if data.body %}
          {{ data.body }}
        {% else %}
          <em>No API description</em>
        {% endif %}

        {% for modules in data.endpoints %}
          <div class="row">
            <div class="col-12">

              <hr>

              <h2>{{ modules.name }}</h2>

              {% if modules.body %}
                {{ modules.body }}
              {% else %}
                <em>No module description</em>
              {% endif %}

              <table class="table table-hover table-condensed table-responsive">
                <thead>
                  <th class="col-1">Resource</th>
                  <th class="col-3">URL</th>
                  <th class="col-4">Full URL</th>
                  <th class="col-4">Description</th>
                </thead>
                <tbody>
                  {% for module in modules.methods %}
                    <tr>
                      <td>
                        <a href="#" class="btn btn-xs btn-block
                          {% if module.method == 'GET' %} btn-success
                          {% elsif module.method == 'POST' %} btn-warning
                          {% elsif module.method == 'PUT' %} btn-primary
                          {% elsif module.method == 'DELETE' %} btn-danger
                          {% endif %}"
                        >{{ module.method }}</a>
                      </td>
                      <td><a href="#">{{ module.url }}</a></td>
                      <td>https://api.saucy.se/v0{{ module.url }}</td>
                      <td>
                        {% if module.body %}
                          {{ module.body }}
                        {% else %}
                          <em>No description</em>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</section>
