---
layout      : page
title       : Session tracker
date        : 2016-06-15 15:33
tagline     : 'Dungeons & Dragons: Session tracker'
description : Keep track of every session, like how much gold or XP the characters has gained since the last session.
nav         : false
nav-dev     : false
subnav      : true
archive     : false
---

<section class="page page-dnd">
  <div class="container-lg">

    <div class="row">
      <div class="col-12">

        <div class="alert alert-info" role="alert"><strong>{{ page.title }}</strong>: {{ page.description }}</div>

      </div>
    </div>

    {% assign cat = page.title | slugify %}
    {% assign posts = site.categories[cat] %}

    {% include pages/buttons.html title=cat data=posts %}

  </div>
</section>
